<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<head><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="JVSH Technologies">
    <meta name="description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta property="og:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
    <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta name="twitter:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Mayur Sports</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/style.css">
	
	<link rel="stylesheet" href="frontend/assets/css/style.css">
	<link rel="stylesheet" href="frontend/assets/css/skins/skin-demo-8.css">
	<link rel="stylesheet" href="frontend/assets/css/demos/demo-8.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<style>
		.dropdown-item.active, .dropdown-item:active{
			background-color: white!important;
			color:black;
		}
	</style>
</head>

<body>
    <div class="page-wrapper">
        <%- include("./navbar.ejs") %>
        
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('frontend/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Welcome <%= verify.name %>!<span>Dashboard</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">

            </nav><!-- End .breadcrumb-nav -->
			<center> <span id="myspan"> </span></center>

            <div class="page-content mt-4">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3 daboard">
								
								<div class="dropdown w-100 mob-dashbar">
									<button class="btn btn-secondary dropdown-toggle w-100 junabtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										ORDERS
									</button>
									<div class="dropdown-menu" id="myDropdown" aria-labelledby="dropdownMenuButton">
										<% if (userRole == 2) { %>
											
										<a class="dropdown-item" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false" onclick="updateButtonText('YOUR COUPONS')">Influencer Bonus</a>
										<% } %>
										
										<a class="dropdown-item" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false" onclick="updateButtonText('ORDERS ')">Orders</a>
										<a class="dropdown-item" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false" onclick="updateButtonText('ADDRESSES ')">Addresses</a>
										<a class="dropdown-item" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false" onclick="updateButtonText('CHANGE PASSWORD ')">Change Password</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="/logout">Sign Out</a>
									</div>
								</div>
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0 comp-dashbar" role="tablist">
									<% if (userRole == 2) { %>
										
										<li class="nav-item">
											<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Your Coupons</a>
										</li>
									<% } %>
								    
								    <li class="nav-item">
								        <a class="nav-link <% if (userRole != 2){ %> active <% } %> " id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
									
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Change Password</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
								
								
	                			<div class="tab-content">
									<% if (userRole == 2) { %>
										<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-orders-link">
											<span class="font-weight-normal text-dark"><h5>Coupons Under You:</h5></span> 
	
											<hr>
											<% inforders.forEach(coupon => { %>
											<article style="border: 1px solid #e4e4e4;padding: 1rem 2rem;margin-bottom: 2rem;" class="entry entry-list mycompcardi">
												<div class="row align-items-center">
													<div class="col-md-12 d-flex" >
														<div class="entry-body" style="padding-left: 0;">
															<div class="entry-meta">
															</div><!-- End .entry-meta -->
						
															<h2 class="entry-title">
																<a href="#"><%= coupon.coupon %></a>
															</h2><!-- End .entry-title -->
						
															<div class="entry-cats" style="margin-bottom: 0;font-weight: 500;">
																<p style="margin-bottom: 0;font-weight: 500;">Discount (%): <b><%= coupon.discount %>%</b></p>
															</div><!-- End .entry-cats -->
														</div><!-- End .entry-body -->
													</div><!-- End .col-md-8 -->
												</div><!-- End .row -->
											</article>
								<%  }) %>
								<% if (inforders.length === 0) { %>
									<center>No coupons found !</center>
								<% } %>
								
										</div>
										<% } %>
								    <div class="tab-pane fade show <% if (userRole != 2){ %> active <% } %>" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										<span class="font-weight-normal text-dark"><h5>Your Orders:</h5></span> 

										<hr>
										<% orders.forEach(order => {

											if(order.allProduct[0].id){ %>
												<div class="myphonecardi">
												<a href="/track?of=<%= order._id %>" >
													<div class="d-flex" style="gap:5px;padding: 10px;border: 1px solid #e4e4e4;border-radius: 10px;margin-bottom: 10px;"> 
														<img src="<%= order.allProduct[0].id.image[0] %>" alt="product photo" style="color:grey;border-radius: 7px;height:100px;aspect-ratio: 1;border: 1px solid #e4e4e4;">
														<div style="flex:1;display: flex;flex-direction: column;width: 100%;overflow: hidden;">
															<p style="font-size: 14px;color:#333;font-weight: 500;line-height: 18px;margin-bottom:6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;"><%= order.allProduct[0].id.name%></p>
															<div style="display: flex;align-items: flex-end;">
																<p style="font-size: 14px;color:#333;font-weight: 600;line-height: 16px;margin-bottom: 5px;"><span style="color:#fe2910">₹</span><%= order.amount %></p>
																<p style="font-size: 12px;color:#afafaf;font-weight: 400;line-height: 12px;margin-bottom:5px;padding-left: 3px;"> for <%= order.allProduct.length>1?order.allProduct.length+" products":order.allProduct.length+" product" %></p>
															</div>
															<a href="/track?of=<%= order._id %>" style="margin-top: auto;display: flex;align-items: center;justify-content: end;translate: 0 5px;font-weight: 400;">View order<i class="icon-long-arrow-right" style="font-size: 19px;line-height: 10px;"></i></a>
														</div>
													</div>
												</a>
											</div>
								    	<article style="border: 1px solid #e4e4e4;padding: 1rem 2rem;margin-bottom: 2rem;" class="entry entry-list mycompcardi">
											<div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <figure class="entry-media">
                                                        <a href="">
                                                            <img src="<%= order.allProduct[0].id.image[0] %>" alt="image desc">
                                                        </a>
                                                    </figure><!-- End .entry-media -->
                                                </div><!-- End .col-md-4 -->
                    
                                                <div class="col-md-9 d-flex" >
                                                    <div class="entry-body" style="padding-left: 0;">
                                                        <div class="entry-meta">
                                                        </div><!-- End .entry-meta -->
                    
                                                        <h2 class="entry-title">
                                                            <a href="#"><%= order.allProduct[0].id.name %></a>
                                                        </h2><!-- End .entry-title -->
                    
                                                        <div class="entry-cats" style="margin-bottom: 0;font-weight: 500;">
                                                            <p style="margin-bottom: 0;font-weight: 500;">Total: ₹<%= order.amount %></p>
                                                        </div><!-- End .entry-cats -->
														
														<p style="padding: 0;margin: 0;">
															Total <%= order.allProduct.length %> product(s)
														</p>
                                                    </div><!-- End .entry-body -->
                                                    <div style="margin-left: auto;color:#cc9966;align-self: last baseline;"><a href="/track?of=<%= order._id %>" class="read-more">Order details</a></div>
                                                </div><!-- End .col-md-8 -->
                                            </div><!-- End .row -->
                                        </article><!-- End .entry -->
							<% } }) %>
							<% if (orders.length === 0) { %>
								<center>No orders found !</center>
							<% } %>
							
								    </div>

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">

								    	<p style="font-weight: 400;letter-spacing: 0.5px;color:black;display: none;">Add or remove your addresses here.</p>
										<p style="text-align: center;margin-bottom: 18px;"><a href="#address-modal" data-toggle="modal">+ Add New Address</a></p>
										<% if (addresses.length < 1) { %>
										 <h5>No addresses found!</h5>
										<% } %>
								    	<div class="row">
											<% addresses.forEach(address => { %>
											 
											
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body" style="border:1px solid#cccccc;border-radius: 8px;padding: 20px;">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p><%= address.aname %><br>
														<%= address.aaddress %><br>
														<%= address.aphone %><br>
														<form method="POST" action="/api/address/delete" onsubmit="return confirmDelete();">
															<input type="hidden" name="_id" value="<%= address._id %>" >
														<button type="submit" class="btn btn-danger">Delete</button>
													</form>
														
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
											<% }) %>
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form id="myform">
			                				<div class="row">

		            						<label>Current password</label>
		            						<input style="border-radius: 7px;border:1px solid#e4e4e4;" type="password" name="oldPassword" class="form-control merahaibutton" required>

		            						<label>New password</label>
		            						<input style="border-radius: 7px;border:1px solid#e4e4e4;" type="password" name="newPassword" class="form-control merahaibutton" required>

											<input style="border-radius: 7px;border:1px solid#e4e4e4;" type="hidden" name="uId" value="<%= userid %>">
											
		                					<button id="returnbtn" type="submit" style="border-color: #616161!important;" class="btn btn-outline-primary-2">
			                					<span style="color:#616161;">SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

		<div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" id="modal-close-now" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="icon-close"></i></span>
						</button>
			
						<div class="form-box">
							<div class="form-tab">
								<div class="tab-content" id="tab-content-5">
									<div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="address-tab">
										<form id="address-form">
											<center><span id="adresponse" class="text-danger"></span></center>
											<input type="hidden" name="user" value="<%= userid %>" >
											<div class="form-group">
												<label for="singin-email">Name *</label>
												<input type="text" class="form-control" id="singin-email" name="aname" required>
											</div><!-- End .form-group -->
			
											<div class="form-group">
												<label for="singin-password">Phone Number *</label>
												<input type="number" class="form-control" id="singin-password" name="aphone" required>
											</div><!-- End .form-group -->

											<div class="form-group">
												<label for="a-password">Address *</label>
												<textarea type="number" class="form-control" id="a-password" name="aaddress" required></textarea>
											</div><!-- End .form-group -->
											<div class="row">
												<div class="form-group col-md-6">
													<label for="aa-email">City *</label>
													<input type="text" class="form-control" id="aa-email" name="acity" required>
												</div><!-- End .form-group -->

												<div class="form-group col-md-6">
													<label for="pincode">Pincode *</label>
													<input type="number" class="form-control" id="pincode" name="apincode" required>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-12">
													<label for="aa-state">State *</label>
													<input type="text" class="form-control" id="state" name="astate" required readonly>
												</div>
											</div>
											<div class="form-footer">
												
												<button type="submit" form="address-form" class="btn btn-outline-primary-2">
													
													<span>Add New Address</span>
													<i class="icon-long-arrow-right"></i>
												</button>
			
												<!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
											</div>
											<!-- End .form-footer -->
										</form>

									</div><!-- .End .tab-pane -->
								</div><!-- End .tab-content -->
							</div><!-- End .form-tab -->
						</div><!-- End .form-box -->
					</div><!-- End .modal-body -->
				</div><!-- End .modal-content -->
			</div><!-- End .modal-dialog -->
			</div><!-- End .modal -->

        <%- include("./footer.ejs") %>
	<script>
		history.pushState(null, document.title, location.href);
		window.addEventListener('popstate', function (event)
		{
		history.pushState(null, document.title, location.href);
		});
	</script>

    <script>
	function confirmDelete() {
      // Display a confirmation dialog
      var confirmation = confirm("Are you sure you want to delete this row?");

      // If the user clicks "OK" (true), the form will be submitted
      return confirmation;
    }
		$("#pincode").on("input", function (event) {
				// console.log(1);
				var pincodeinput = $("#pincode").val();
				// console.log(pincodeinput);
				var pincodeurl = "https://api.postalpincode.in/pincode/" + pincodeinput;
				// console.log(pincodeurl);
				$.getJSON(pincodeurl, function (result) {
				if (result[0].Status == "Error") {
					// console.log("Please enter a valid pincode");
					$("#state").val("Please enter a valid pincode");
				} else {
					$("#state").val(result[0].PostOffice[0].State);
				}
				});
			});

	$('#cart-total-text').hide();
	const $form3 = $('#address-form')
    $form3.on('submit', submitHandler3)

    function submitHandler3 (e) {
        e.preventDefault()
        $.ajax({
            url: '/api/address/add',
            type:'POST',
            data: $form3.serialize()
        }).done(response => {
            response = JSON.stringify(response)
            response = JSON.parse(response);
			if(response.error){
				$("#adresponse").text(response.error)
			}else{
				$("#modal-close-now").click()
				location.reload();
			}
        })
    }


		const $form5 = $('#myform')
		$form5.on('submit', submitHandler5)
		function submitHandler5 (e) {
			e.preventDefault()
			$("#returnbtn").prop("disabled", true);
			console.log($form5.serialize());
			$.ajax({
			    url: '/api/user/change-password',
			    type:'POST',
			    data: $form5.serialize()
			}).done(response => {
			    response = JSON.stringify(response)
			    response = JSON.parse(response);
			    if(response.error){
					$("#returnbtn").prop("disabled", false);
			        $("#myspan").text(response.error);
			    }else{
					$("#returnbtn").prop("disabled", false);
			        $("#myspan").text(response.success);
			    }
				
			})
		}

	function updateButtonText(option) {
        document.getElementById('dropdownMenuButton').innerText = option;
    }

	$('.dropdown-item').on('click', function () {
		console.log("object");
		$(this).siblings().removeClass('active');
    });

	$('.junabtn').on("click",function(){
		if ($("#myDropdown").hasClass("show")){
			$("#myDropdown").removeClass("show");
		}else{
			$("#myDropdown").removeClass("show");
		}
	})

	
	</script>    
	

</body>
    
</html>