<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="JVSH Technologies">
    <meta name="description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta property="og:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
    <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta name="twitter:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Products | Mayur Sports</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="frontend/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="frontend/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="frontend/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="frontend/assets/images/icons/site.html">
    <link rel="mask-icon" href="frontend/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="frontend/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="frontend/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/style.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/nouislider/nouislider.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        
  <link rel="stylesheet" href="frontend/assets/css/style.css">
  <link rel="stylesheet" href="frontend/assets/css/skins/skin-demo-8.css">
  <link rel="stylesheet" href="frontend/assets/css/demos/demo-8.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="page-wrapper">
        <%- include("./navbar.ejs") %>


        <main class="main">
            <div class="page-content">
              <div class="p-0 bg-white" style="border:1px solid #ebebeb;border-top: 0px;">
                <div class="container py-2 d-flex" style="justify-content: space-between;align-items: center;">
                  <% navCats.forEach(element => { %>
                                                         
                    <a class="topnavlink" style="color:#333;font-weight:400;text-transform: uppercase;" href="/shop?filterby=<%= element._id %>"><%= element.cName %></a>
                    
                    <% }) %>
                </div>
              </div>
                <div class="container">
                  <div class="toolbox">
                    <div class="toolbox-left">
                      <div class="toolbox-info">
                        Showing <span><%= allProds.length %></span> Products
                      </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-left -->


                  </div><!-- End .toolbox -->
                	<div class="row">
                    <div class="col-lg-3">
                      <div class="product product-2">
                        <p style="font-weight: 400; color:#333;"><i class='bx bx-filter-alt mr-2'></i>Filter</p>
                      </div>
                    </div>
                		<div class="col-lg-9 ">
              
                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    <% if (allProds.length < 1) { %>
                                     <center><h3>No Products Found</h3></center>
                                    <% } %>
                                    <% allProds.forEach(prod => { %>
                                    
                                        <div class="col-md-4 col-lg-4 col-sm-6 col-6 mobilefk">
                                            <div class="product product-2">
                                              <% if (prod.offer != 0) { %>
                                              <span class="product-label label-sale">-<%= prod.offer %>% Off</span>
                                              <% } %>
                                              <figure class="product-media">
                                                <a href="/view/<%= prod._id %>">
                                                  <img src="<%= prod.image[0] %>" alt="Product image" class="product-image">
                                                  <img src="<%= prod.image[1] %>" alt="Product image" class="product-image-hover">
                                                </a>
                                                <div class="product-action ">
                                                    <a type="button" productid="<%= prod._id %>" productoffer="<%=prod.offer%>" productprice="<%= prod.price %>" productname="<%= prod.name %>" productimage="<%= prod.image[0] %>" onclick="Toastify({text: 'Product added to the cart!',style:{background:'rgba(255, 238, 235, 1)',color:'#FE2910',border:'1px solid #FE2910',borderRadius:'10px'},gravity:'bottom', duration: 1000 }).showToast();" class="newbta"><span class="newbtaspan">Add to Cart</span></a>
                                                </div>
                                              </figure><!-- End .product-media -->
                          
                                              <div class="product-body">
                                                <div class="product-detailbody">
                                                  <h3 class="product-title"><a href="/view/<%= prod._id %>"><%= prod.name.length > 23 ? prod.name.substring(0, 20) + '...' : prod.name %></a></h3><!-- End .product-title -->
                                                  <div class="product-cat">
                                                    <a href="#"><%= prod.category.cName %></a>
                                                  </div><!-- End .product-cat -->
                                                </div>
                                                <div class="product-price">
                                                  <% if (prod.offer != 0) { %>
                                                  <span class="outer">
                                                    <span class="inner old-price">₹<%= prod.price.toFixed(0) %></span>
                                                  </span>
                                                  <span class="new-price"> <span style="color:#FE2910!important">₹</span><%= prod.price - ((prod.price/100)*prod.offer).toFixed(0) %></span>
                                                  <% } else { %>
                                                  <span class="new-price">₹<%= prod.price.toFixed(0) %></span>
                                                  <% } %>
                                                </div><!-- End .product-price -->
                                              </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                          </div>
                                    <% }) %>
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                		</div><!-- End .col-lg-9 -->

                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

<%- include("./footer.ejs") %>
<script>
	$("#cart-total-text").hide();
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>