<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="JVSH Technologies">
  <meta name="description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
  <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
  <meta property="og:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
  <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
  <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
  <meta name="twitter:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Products | Mayur Sports</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="frontend/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="frontend/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="frontend/assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="frontend/assets/images/icons/site.html">
  <link rel="mask-icon" href="frontend/assets/images/icons/safari-pinned-tab.svg" color="#666666">
  <link rel="shortcut icon" href="frontend/assets/images/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="frontend/assets/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <!-- Main CSS File -->
  <link rel="stylesheet" href="frontend/assets/css/style.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/nouislider/nouislider.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="frontend/assets/css/style.css">
  <link rel="stylesheet" href="frontend/assets/css/skins/skin-demo-8.css">
  <link rel="stylesheet" href="frontend/assets/css/demos/demo-8.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <style>
    .slidecontainer {
      width: 100%;
      /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
      -webkit-appearance: none;
      /* Override default CSS styles */
      appearance: none;
      width: 100%;
      /* Full-width */
      height: 25px;
      /* Specified height */
      background: #d3d3d3;
      /* Grey background */
      outline: none;
      /* Remove outline */
      opacity: 0.7;
      /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s;
      /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1;
      /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 25px;
      /* Set a specific slider handle width */
      height: 25px;
      /* Slider handle height */
      background: #04AA6D;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
      width: 25px;
      /* Set a specific slider handle width */
      height: 25px;
      /* Slider handle height */
      background: #04AA6D;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 0.5px;
      border-radius: 0px;
      background: #afafaf;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fe2910 !important;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fe2910 !important;
      cursor: pointer;
    }
    .form-container {
      display: none;
      height: 0;
      transition: height 0.3s ease-in-out;
      overflow: hidden;
    }
    .sortie:hover{
      box-shadow: none!important;
    }
  </style>
</head>

<body>
  <div class="page-wrapper">
    <%- include("./navbar.ejs") %>


    <main class="main">
      <div class="page-content">
        <div class="p-0 bg-white" style="border:1px solid #ebebeb;border-top: 0px;">
          <div class="container py-2 d-flex" style="justify-content: space-between;align-items: center;">
            <% navCats.forEach(element => { %>

            <a class="topnavlink" style="color:#333;font-weight:400;text-transform: uppercase;" href="/shop?filterby=<%= element._id %>"><%= element.cName %></a>

            <% }) %>
          </div>
        </div>
        <div class="container">
          <div class="toolbox">
            <div class="toolbox-left">
              <div class="toolbox-info">
                Showing <span><%= allProds.length %></span> Products
              </div><!-- End .toolbox-info -->
            </div><!-- End .toolbox-left -->


          </div><!-- End .toolbox -->
          <div class="row">
            <div class="col-lg-3">
              <div class="product product-2 sortie">
                <!-- <p ><i class='bx bx-filter-alt mr-2'></i>Filter</p> -->
                <button style="font-weight: 400; color:#333;border: 0px!important;align-items:center; justify-content: space-between;" class="w-100 btn-block text-left p-0 bg-white d-flex" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"  onclick="toggleForm()">
                  <span><i class='bx bx-filter-alt mr-2'></i>Filter</span>
                  <span><i class='bx bx-chevron-down' style="font-size: 20px;display: flex;align-items:center; justify-content: space-between;"></i></span>
                </button>

                <div id="form-container">
                  <form action="" id="myform" method="GET">
                    <div class="slidecontainer mb-2">
                      <label class="mt-2" for="sortby" style="margin-bottom:4px;color:#afafaf">Sort By:</label>
                      <select id="sortby" style="margin-bottom: 0px; border-radius: 8px;" class="form-control" name="sortby">
                        <option value="1" <% sortby==1 && "selected" %>>Newest first</option>
                        <option value="2" <% sortby==2 && "selected" %>>Price: Low to High</option>
                        <option value="3" <% sortby==3 && "selected" %>>Price: High to Low</option>
                        <option value="4" <% sortby==4 && "selected" %>>Discount: High to Low</option>
                      </select>
                      
                      <label class="mt-2 mb-0" style="color:#afafaf">Max Price: ₹ <span id="maxprice"><%= curMaxPrice || maxPrice %></span></label>
                      <input type="range" min="1" max="<%= maxPrice %>" value="<%= curMaxPrice || maxPrice %>" class="slider w-100" id="maxrate" name="maxrate">
                      
                    </div>
                    <button type="button" onclick="redirecting()" class="w-100 newbta"><span class="newbtaspan">Apply</span></button>
                  </form>
                </div>
              </div>
            </div>
            <script>
              if (window.innerWidth <= 768) {
                document.querySelector('#form-container').style.height=0;
              }
              function toggleForm() {
                const formContainer = document.querySelector('#form-container');
                formContainer.style.height = formContainer.clientHeight === 0 ? `${formContainer.scrollHeight}px` : '0';
              }
            </script>
            <div class="col-lg-9 ">

              <div class="products mb-3">
                <div class="row justify-content-left">
                  <% if (allProds.length < 1) { %>
                  <center>
                    <h3>No Products Found</h3>
                  </center>
                  <% } %>
                  <% allProds.forEach(prod => { %>

                  <div class="col-md-4 col-lg-4 col-sm-6 col-6 mobilefk">
                    <div class="product product-2">
                      <% if (prod.offer != 0) { %>
                      <span class="product-label label-sale">-<%= prod.offer %>% Off</span>
                      <% } %>
                      <figure class="product-media">
                        <a href="/view/<%= prod._id %>">
                          <img src="<%= prod.image[0] %>" alt="Product image" class="product-image">
                          <img src="<%= prod.image[1] %>" alt="Product image" class="product-image-hover">
                        </a>
                        <div class="product-action ">
                          <a type="button" productid="<%= prod._id %>" productoffer="<%=prod.offer%>" productprice="<%= prod.price %>" productname="<%= prod.name %>" productimage="<%= prod.image[0] %>" onclick="Toastify({text: 'Product added to the cart!',style:{background:'rgba(255, 238, 235, 1)',color:'#FE2910',border:'1px solid #FE2910',borderRadius:'10px'},gravity:'bottom', duration: 1000 }).showToast();" class="newbta"><span class="newbtaspan">Add to Cart</span></a>
                        </div>
                      </figure><!-- End .product-media -->

                      <div class="product-body">
                        <div class="product-detailbody">
                          <h3 class="product-title"><a href="/view/<%= prod._id %>"><%= prod.name.length > 23 ? prod.name.substring(0, 20) + '...' : prod.name %></a></h3><!-- End .product-title -->
                          <div class="product-cat">
                            <a href="#"><%= prod.category.cName %></a>
                          </div><!-- End .product-cat -->
                        </div>
                        <div class="product-price">
                          <% if (prod.offer != 0) { %>
                          <span class="outer">
                            <span class="inner old-price">₹<%= prod.price.toFixed(0) %></span>
                          </span>
                          <span class="new-price"> <span style="color:#FE2910!important">₹</span><%= prod.price - ((prod.price/100)*prod.offer).toFixed(0) %></span>
                          <% } else { %>
                          <span class="new-price">₹<%= prod.price.toFixed(0) %></span>
                          <% } %>
                        </div><!-- End .product-price -->
                      </div><!-- End .product-body -->
                    </div><!-- End .product -->
                  </div>
                  <% }) %>
                </div><!-- End .row -->
              </div><!-- End .products -->

            </div><!-- End .col-lg-9 -->

          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .page-content -->
    </main><!-- End .main -->

    <%- include("./footer.ejs") %>
    <script>
      $("#cart-total-text").hide();
      $("#maxrate").change(function() {
        $("#maxprice").text($(this).val());
      });

      var slider = document.getElementById("myRange");
      // var output = document.getElementById("demo");
      // output.innerHTML = slider.value; 
      // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      // slider.oninput = function() {
      //   output.innerHTML = this.value;
      // }
      
      // $("#myform").attr('action',window.location.href);
      function redirecting(){
        var currentURL = new URL(window.location.href);
        currentURL.searchParams.set('maxrate', $('#maxrate').val());
        currentURL.searchParams.set('sortby', $('#sortby').val());
        window.location=currentURL;
      }
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
</body>

</html>