<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="JVSH Technologies">
    <meta name="description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta property="og:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
    <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta name="twitter:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= product.name %> | Mayur Sports</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/frontend/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/frontend/assets/css/style.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/nouislider/nouislider.css">

    <link rel="stylesheet" href="/frontend/assets/css/style.css">
    <link rel="stylesheet" href="/frontend/assets/css/skins/skin-demo-8.css">
    <link rel="stylesheet" href="/frontend/assets/css/demos/demo-8.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <style>
        .txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover::before,
.rating > label:hover ~ label::before,
.rating > input.radio-btn:checked ~ label::before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
.geeks {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }
     
.geeks:hover{
    transform: scale(2);
}
.btn-outline-primary-2>span{
    color: #000!important;
}

.btn-outline-primary-2:hover{
    background-color: #333!important;
}
.btn-outline-primary-2:hover span{
    color: white!important;
}
@media screen and (max-width:500px) {
    .owl-nav{
        display: none!important;
    }
}
.buycartbtn>a{
    width: fit-content;
    min-width: none;
    white-space: nowrap;
    padding: 10px 15px!important;

}
.buycartbtn{
    display: flex;
    gap: 10px;
    
}
@media screen and (max-width:500px){
    .buycartbtn{
        position: fixed;
        bottom:0;
        left: 0;
        margin: 0px;
        z-index: 10000;
        width: 100vw;
        background-color: white;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        min-width: none;
    }
    .buycartbtn a{
        padding: 15px 5px!important;
        min-width: 0px!important;
    }
}
.example123::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example123 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

    </style>
</head>

<body>
    <div class="page-wrapper">
        <%- include("./navbar.ejs") %>

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content mt-4">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <div class="owl-carousel owl-simple" data-toggle="owl" 
                                            data-owl-options='{
                                                "nav": true, 
                                                "dots": true,
                                                "margin": 0,
                                                "loop": false,
                                                "responsive": {
                                                    "0": {
                                                        "items":1
                                                    },
                                                    "480": {
                                                        "items":1
                                                    },
                                                    "768": {
                                                        "items":1
                                                    },
                                                    "992": {
                                                        "items":1
                                                    },
                                                    "1200": {
                                                        "items":1,
                                                        "nav": true,
                                                        "dots": false
                                                    }
                                                }
                                            }'>
                                            <% product.image.forEach(image => { %>
                                          
                                                <a class="product-gallery" >
                                                    <img src="<%= image %>" width="100%" class="">
                                                </a>
                                 
                                            <% }) %>

                                        </div>


                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-5 -->
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title" style="font-weight: 500;display: flex;align-items: center;"><%= product.name %> 
                                        <% if(product.offer > 0){ %>
                                        <span style="font-size: 14px;padding: 4px 14px;color: white;background-color: #E22520;margin-left: 10px!important;border-radius: 5px;">-<%= product.offer %>%</span>
                                            <% } %>
                                    </h1><!-- End .product-title -->
                                <% if (allReviews.length > 0) { %>
                                 
                                
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: <%= total %>%;"></div>
                                        </div>
                                        
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( <%= allReviews.length %> Reviews )</a>
                                    </div>
                                    <% } else {%>
                                        <div class="ratings-container" >                                            
                                            <a class="ratings-text" href="#product-review-link" id="review-link" style="color:#afafaf !important">( No Reviews )</a>
                                        </div>
                                    <% } %>
                                    <!-- End .rating-container -->

                                    <div class="product-price" style="align-items: flex-end;display: flex;flex-direction: row;justify-content: unset;">
                                        <% if (product.offer != 0) { %>
                                            <span class="new-price" style="line-height: 24px;margin-right: 5px;"><span style="color:#FE2910">₹ </span><%= product.price - ((product.price/100)*product.offer).toFixed(2) %></span>
                                            <span class="outer">
                                                <span class="inner old-price">₹<%= product.price.toFixed(0) %></span>
                                            </span>
                                        <% } else { %>
                                            <span class="new-price"><span style="color:#FE2910">₹ </span><%= product.price.toFixed(2) %></span>
                                        <% } %>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p></p>
                                    </div><!-- End .product-content -->
                                    <label for="size" style="color:#afafaf;margin-bottom:0;font-weight: 400;">Available Sizes:</label>
                                    <div class="details-filter-row details-row-size">
                                        <div class="example123" style="display: flex; gap: 20px;overflow:scroll;">
                                            <% productsizes.forEach(productsize => { %>
                                            <a href="/view/<%=productsize._id%>">
                                                <div class="productsizecard" style="text-align: center;border-radius: 10px;padding: 5px;border:1px solid #dbdbdb;<%= (productsize._id.toString() === product._id.toString()) ? "background-color: #ebebeb!important;" : "background-color: white;" %>" >
                                                    <div class="productsizecardimg" style="width: 60px;height:60px;display: flex;align-items: center;justify-content: center;overflow: hidden;">
                                                        <img style="height:100%;width: auto;border:1px solid #dedede;border-radius: 8px;" src="<%= productsize.image[0] %>">
                                                    </div>
                                                    <p style="line-height: 1.4rem;transition:0.3s;margin: 7px 0 2px;<%= (productsize._id.toString() === product._id.toString()) ? "color: black!important;" : "" %>" ><%= productsize.name.split("-")[1] %></p>
                                                </div>
                                            </a>
                                            <% }) %>
                                        </div><!-- End .select-custom -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action" style="display: flex; gap:20px;flex-direction: row;align-items: center;">
                                        <% if (product.quantity < 1) { %>
                                            <button class="btn btn-danger" disabled><span>Out of stock</span></button>
                                        <% }else{ %>
                                            <!-- <a type="button" productid="<%= product._id %>" productoffer="<%=product.offer%>" productprice="<%= product.price %>" productname="<%= product.name %>" productimage="<%= product.image[0] %>" onclick="Toastify({text: 'Product added to the cart',gravity:'bottom',style:{background:'#c96'}, duration: 3000 }).showToast();" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            <div class="buycartbtn">
                                                <a type="button" productid="<%= product._id %>" productoffer="<%=product.offer%>" productprice="<%= product.price %>" productname="<%= product.name %>" productimage="<%= product.image[0] %>" onclick="Toastify({text: 'Product added to the cart!',style:{background:'rgba(255, 238, 235, 1)',maxWidth:'100vw',color:'#FE2910',border:'1px solid #FE2910',borderRadius:'10px',boxShadow: 'rgba(17, 17, 26, 0.1) 0px 0px 16px'},gravity:'top', duration:2000, position:'left' }).showToast();" class="newbta btn-product btn-cart baba2"><span class="newbtaspan" style="display:flex;align-items: end;"><i class='bx bx-basket' style="font-size: 14px;margin-right: 5px;"></i>Add to Cart</span></a>
                                                <a type="button" productid="<%= product._id %>" productoffer="<%=product.offer%>" productprice="<%= product.price %>" productname="<%= product.name %>" productimage="<%= product.image[0] %>" redirect="/cart" class="newbta baba btn-product btn-cart" ><span class="newbtaspan">buy now</span></a>
                                            </div>
                                        <% } %>
                                        <a class="size-guide" data-toggle="modal" href="#sizeguidemodal" data-target="#sizeguidemodal">
                                            <i class="icon-th-list"></i>size guide
                                        </a>
                                    </div><!-- End .product-action -->

                                    <div class="product-details-footer" style="display: flex;justify-content: space-between;">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="/shop?filterby=<%= product.category._id %>"><%= product.category.cName %></a>
                                            
                                        </div><!-- End .product-cat -->
                                        <div class="product-cat">
                                            <span>SKU:</span>
                                            <a href="#"><%= product.SKU %></a>

                                        </div>
                                        <div class="social-icons social-icons-sm" style="margin: 0!important;">
                                            <span class="social-label">Share:</span>
                                            <!-- <a href="#" class="social-icon" title="Whatsapp" target="_blank"><i class="icon-whatsapp"></i></a> -->
                                            <a href="http://twitter.com/share?text=Look out for this product here: &url=<%= fullUrl %>" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (<%= allReviews.length %>)</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="border-radius: 15px;">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <p><%- product.description  %></p>       
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Sizes:</h3>
                                    <ul>
                                        <% productsizes.forEach(productsize => { %>
                                            <li><%= productsize.name.split("-")[1] %></li>
                                       <% })%>
                                    </ul>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <% allReviews.forEach(rating => { %>
                                     
                                    
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <h4><a href="#"><%= rating.user.name %></a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: <%= rating.rating %>%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <% let d = new Date(rating.createdAt.toISOString()); %>
                                                <% let day = d.getDate(); %>
                                                <% let m = ["January", "February", "March", "April", "May", "June", "July", 
                                                "August", "September", "October", "November", "December"]; %>
                                                <% let month = m[d.getMonth()]; %>
                                                <% let year = d.getFullYear(); %>
                                                <% let newdate = day + " " + month + ", " + year; %>

                                                <span class="review-date"><%= newdate %></span>
                                            </div><!-- End .col -->
                                            <div class="col-8">
                                                <div class="review-content">
                                                    <p><%= rating.review %></p>
                                                </div><!-- End .review-content -->
                                                <div id="product-zoom-gallery" class="product-image-gallery">
                                                    <% rating.image.forEach(image => { %>
                                                        <a class="product-gallery-item" href="#" data-image="<%= image %>" data-zoom-image="<%= image %>">
                                                            <img src="<%= image %>" width="50px" height="50px">&nbsp;
                                                        </a>
                                                    <% }) %>
                                                </div><!-- End .product-image-gallery -->
                                            </div><!-- End .col-auto -->
                                            <% if (rating.user._id.toString() === userid) { %>
                                                <a href="#delreview<%= rating._id %>" data-toggle="modal">Delete</a>
                                            <% } %>

                                            <div class="modal fade" id="delreview<%= rating._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" id="btn-btnclose" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"><i class="icon-close"></i></span>
                                                            </button>
                                                            <div class="form-box">
                                                                <div class="form-tab">
                                                                    <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#addreview" role="tab" aria-controls="signin" aria-selected="true">Are You Sure?</a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content" id="tab-content-5">
                                                                        <div class="tab-pane fade show active" id="addreview" role="tabpanel" >
                                                                            <form method="POST" action="/api/product/delete-review">
                                                                                <input type="hidden" name="rId" value="<%= rating._id %>" >
                                                                                <input type="hidden" name="_id" value="<%= product._id %>" >
                                                                                <label for="rat">Rating</label>
                                                                                <div class="ratings-container">
                                                                                    <div class="ratings">
                                                                                        
                                                                                        <div id="rat" class="ratings-val" style="width: <%= rating.rating %>%;"></div><!-- End .ratings-val -->
                                                                                    </div><!-- End .ratings -->
                                                                                </div><!-- End .rating-container -->
                                                
                                                                                <div class="form-group">
                                                                                    <label for="review">Review</label>
                                                                                    <textarea class="form-control" id="review" readonly><%= rating.review %></textarea>
                                                                                </div><!-- End .form-group -->
                                
                                                                                <div class="form-footer">
                                                                                    
                                                                                    <button type="submit" class="btn btn-outline-primary-2 w-100">
                                                                                        <span>Delete Review</span>
                                                                                        <i class="icon-long-arrow-right"></i>
                                                                                    </button>
                                                
                                                                                    <!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
                                                                                </div>
                                                                                <!-- End .form-footer -->
                                                                            </form>
                                
                                                                        </div><!-- .End .tab-pane -->
                                
                                                                    </div><!-- End .tab-content -->
                                                                </div><!-- End .form-tab -->
                                                            </div><!-- End .form-box -->
                                                        </div><!-- End .modal-body -->
                                                    </div><!-- End .modal-content -->
                                                </div><!-- End .modal-dialog -->
                                                </div><!-- End .modal -->
                                            
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <% }) %>
                                    <% if (user && reviewcheck.length < 1){ %>
                                        <center><a href="#">Purchase This Product First</a></center>
                                    <%} else if (user && reviewcheck.length > 0) { %>
                                        <center><a href="#addreviewmodal" style="text-decoration: underline;color:#333" data-toggle="modal">+ Add Review</a></center>
                                    <% } else{ %>
                                        <center><a href="#signin-modal" data-toggle="modal">Login To Add Review</a></center>
                                    <% } %>
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->

                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4" style="font-weight: 600!important;">YOU MAY ALSO LIKE </h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <% let i = 0; %>
                        <% allProds.forEach(prod => { %>
                           
                         
                        <% if (prod.category.cName == product.category.cName) { %>
                            <!-- <div class="col-md-4 col-lg-3"> -->
                                <div class="product product-2">
                                  <% if (prod.offer != 0) { %>
                                  <span class="product-label label-sale">-<%= prod.offer %>% Off</span>
                                  <% } %>
                                  <figure class="product-media">
                                    <a href="/view/<%= prod._id %>">
                                      <img src="<%= prod.image[0] %>" alt="Product image" class="product-image">
                                      <img src="<%= prod.image[1] %>" alt="Product image" class="product-image-hover">
                                    </a>
                                    <div class="product-action ">
                                        <% if (prod.quantity < 1) { %>
                                            <a href="/view/<%= prod._id %>" class="newbta"><span class="newbtaspan">View</span></a>
                                            <% }else{ %>
                                            <a href="/view/<%= prod._id %>" class="newbta"><span class="newbtaspan">View</span></a>
                                            <a type="button" productid="<%= prod._id %>" productoffer="<%=prod.offer%>" productprice="<%= prod.price %>" productname="<%= prod.name %>" productimage="<%= prod.image[0] %>" redirect="/cart" class="newbta baba"><span class="newbtaspan">Buy Now</span></a>
                                            <% } %>
                                    </div>
                                  </figure><!-- End .product-media -->
              
                                  <div class="product-body">
                                    <div class="product-detailbody">
                                      <h3 class="product-title"><a href="/view/<%= prod._id %>"><%= prod.name.length > 23 ? prod.name.substring(0, 20) + '...' : prod.name %></a></h3><!-- End .product-title -->
                                      <div class="product-cat">
                                        <a href="#"><%= prod.category.cName %></a>
                                      </div><!-- End .product-cat -->
                                    </div>
                                    <div class="product-price">
                                      <% if (prod.offer != 0) { %>
                                      <span class="outer">
                                        <span class="inner old-price">₹<%= prod.price.toFixed(0) %></span>
                                      </span>
                                      <span class="new-price"> <span style="color:#FE2910!important">₹</span><%= prod.price - ((prod.price/100)*prod.offer).toFixed(0) %></span>
                                      <% } else { %>
                                      <span class="new-price">₹<%= prod.price.toFixed(0) %></span>
                                      <% } %>
                                    </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                                </div><!-- End .product -->
                              <!-- </div> -->
                        <% 
                        i++;
                    } %>
                        <% }) %>



                    </div><!-- End .owl-carousel -->
                    <% if (i < 1) { %>
                        <center>
                           <p>No Products matching this criteria yet!</p>
                       </center>
                       <% } %>
                </div><!-- End .container -->
            </div><!-- End .page-content -->


            <div class="modal fade" id="addreviewmodal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius: 15px!important;overflow: hidden;">
                        <div class="modal-body">
                            <button type="button" id="btn-btn01close" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="icon-close"></i></span>
                            </button>
                
                            <div class="form-box">
                                <div class="form-tab">
                                    <h2 class="title title-lg myheading text-center m-0 p-0">ADD A REVIEW</h2>
                                    <div class="tab-content" style="font-weight: 400!important;" id="tab-content-5">
                                        <div class="tab-pane fade show active" id="addreview" role="tabpanel" >
                                            <form id="addReviewForm" enctype="multipart/form-data">
                                                <input type="hidden" name="uId" value="<%= userid %>" >
                                                <input type="hidden" name="_id" value="<%= product._id %>" >
                                                <center><span class="mb-2 text-danger" id="showreview"></span></center>
                                                <div class="form-group row mb-3">
                                                    <label for="formFileMultiple" class="col-md-4 col-lg-3 form-label"  style="font-weight: 400!important;color:#666">Review Images (if any)</label>
                                                    <div class=" col-md-8 col-lg-9">
                                                        <input onchange="checkSize(this)" accept="image/*" name="image" class="form-control" type="file" id="formFileMultiple" multiple>
                                                    </div>
                                                  </div>
                                                <div class="form-group">
                                                    <label for="rating"  style="font-weight: 400!important;color:#666;">Rating *</label>
                                                    <div class="rating" id="rating">
                                                        <input id="star5" name="rating" type="radio" value="100" class="radio-btn hide" required/>
                                                        <label for="star5" >☆</label>
                                                        <input id="star4" name="rating" type="radio" value="80" class="radio-btn hide" required/>
                                                        <label for="star4" >☆</label>
                                                        <input id="star3" name="rating" type="radio" value="60" class="radio-btn hide" required/>
                                                        <label for="star3" >☆</label>
                                                        <input id="star2" name="rating" type="radio" value="40" class="radio-btn hide" required/>
                                                        <label for="star2" >☆</label>
                                                        <input id="star1" name="rating" type="radio" value="20" class="radio-btn hide" required/>
                                                        <label for="star1" >☆</label>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div><!-- End .form-group -->
                
                                                <div class="form-group">
                                                    <label for="review"  style="font-weight: 400!important;color:#666">Review *</label>
                                                    <textarea class="form-control" id="review" name="review" required></textarea>
                                                </div><!-- End .form-group -->

                                                <div class="form-footer m-0 p-0">
                                                    <button type="submit" class="btn btn-outline-dark-3 btn-more" style="border: 1px solid black;"><span>Post Review</span></button>
                
                                                    <!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
                                                </div>
                                                <!-- End .form-footer -->
                                            </form>

                                        </div><!-- .End .tab-pane -->

                                    </div><!-- End .tab-content -->
                                </div><!-- End .form-tab -->
                            </div><!-- End .form-box -->
                        </div><!-- End .modal-body -->
                    </div><!-- End .modal-content -->
                </div><!-- End .modal-dialog -->
                </div><!-- End .modal -->


        </main><!-- End .main -->



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<div class="modal fade" id="sizeguidemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SIZE GUIDE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-3 row" style="height: max-content!important;">
        <% if (product.category.cName.match(/t\-?shirt/i)) { %>
            <div class="d-flex col-sm-12 col-xs-12 col-md-12" style="align-items: center;justify-content: center; flex-direction: column; max-height: 520px;">        
                <div class="container" style="width:100%;text-align: center;">
                    <table style="width:100%;">
                        <h6>T-shirt Size Guide</h6>
                        <thead style="background-color: #E22520;color: #fff;font-weight: 300;height: 39px;">
                        <tr>
                            <th>Size</th>
                            <th>Dimensions</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #ffffff;height: 39px;">
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Small</span>
                            </td>
                            <td>
                            <span class="default">36 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Medium</span>
                            </td>
                            <td>
                            <span class="default">38 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Large</span>
                            </td>
                            <td>
                            <span class="default">40 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">XLarge</span>
                            </td>
                            <td>
                            <span class="default">42 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">2XLarge</span>
                            </td>
                            <td>
                            <span class="default">44 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">3XLarge</span>
                            </td>
                            <td>
                            <span class="default">46 inch</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
        <% } else if (product.category.cName.match(/tracks.*shorts|shorts.*tracks/i)) {  %>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="container" style="width:100%;text-align: center;">
                    <table style="width:100%;">
                        <h6>Tracks & Shorts Size Guide</h6>
                        <thead style="background-color: #E22520;color: #fff;font-weight: 300;height: 39px;">
                        <tr>
                            <th>Size</th>
                            <th>Waist Size</th>
                            <th>Tracks Length</th>
                            <th>Shorts Length</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #ffffff;height: 39px;">
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">XSmall</span>
                            </td>
                            <td>
                            <span class="default">28 inch</span>
                            </td>
                            <td>
                                <span class="default">38 inch</span>
                            </td>
                            <td>
                                <span class="default">16.5 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Small</span>
                            </td>
                            <td>
                            <span class="default">30 inch</span>
                            </td>
                            <td>
                                <span class="default">40 inch</span>
                            </td>
                            <td>
                                <span class="default">17 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Medium</span>
                            </td>
                            <td>
                            <span class="default">32 inch</span>
                            </td>
                            <td>
                                <span class="default">40 inch</span>
                            </td>
                            <td>
                                <span class="default">17.5 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">Large</span>
                            </td>
                            <td>
                            <span class="default">34 inch</span>
                            </td>
                            <td>
                                <span class="default">40 inch</span>
                            </td>
                            <td>
                                <span class="default">18 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">XLarge</span>
                            </td>
                            <td>
                            <span class="default">36 inch</span>
                            </td>
                            <td>
                                <span class="default">40 inch</span>
                            </td>
                            <td>
                                <span class="default">18.5 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">2XLarge</span>
                            </td>
                            <td>
                            <span class="default">38 inch</span>
                            </td>
                            <td>
                                <span class="default">42 inch</span>
                            </td>
                            <td>
                                <span class="default">19 inch</span>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                            <td>
                            <span class="default">3XLarge</span>
                            </td>
                            <td>
                            <span class="default">40 inch</span>
                            </td>
                            <td>
                                <span class="default">42 inch</span>
                            </td>
                            <td>
                                <span class="default">19.5 inch</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } else { %>
          <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="container" style="width:100%;text-align: center;">
                <table style="width:100%;">
                    <h6>T-shirt & Sando Size Guide</h6>
                    <thead style="background-color: #E22520;color: #fff;font-weight: 300;height: 39px;">
                    <tr>
                        <th>Size</th>
                        <th>Dimensions</th>
                    </tr>
                    </thead>
                    <tbody style="background-color: #ffffff;height: 39px;">
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Small</span>
                        </td>
                        <td>
                        <span class="default">36 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Medium</span>
                        </td>
                        <td>
                        <span class="default">38 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Large</span>
                        </td>
                        <td>
                        <span class="default">40 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">XLarge</span>
                        </td>
                        <td>
                        <span class="default">42 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">2XLarge</span>
                        </td>
                        <td>
                        <span class="default">44 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">3XLarge</span>
                        </td>
                        <td>
                        <span class="default">46 inch</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-12 mt-4">
            <div class="container" style="width:100%;text-align: center;">
                <table style="width:100%;">
                    <h6>Tracks & Shorts Size Guide</h6>
                    <thead style="background-color: #E22520;color: #fff;font-weight: 300;height: 39px;">
                    <tr>
                        <th>Size</th>
                        <th>Waist Size</th>
                        <th>Tracks Length</th>
                        <th>Shorts Length</th>
                    </tr>
                    </thead>
                    <tbody style="background-color: #ffffff;height: 39px;">
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">XSmall</span>
                        </td>
                        <td>
                        <span class="default">28 inch</span>
                        </td>
                        <td>
                            <span class="default">38 inch</span>
                        </td>
                        <td>
                            <span class="default">16.5 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Small</span>
                        </td>
                        <td>
                        <span class="default">30 inch</span>
                        </td>
                        <td>
                            <span class="default">40 inch</span>
                        </td>
                        <td>
                            <span class="default">17 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Medium</span>
                        </td>
                        <td>
                        <span class="default">32 inch</span>
                        </td>
                        <td>
                            <span class="default">40 inch</span>
                        </td>
                        <td>
                            <span class="default">17.5 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">Large</span>
                        </td>
                        <td>
                        <span class="default">34 inch</span>
                        </td>
                        <td>
                            <span class="default">40 inch</span>
                        </td>
                        <td>
                            <span class="default">18 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">XLarge</span>
                        </td>
                        <td>
                        <span class="default">36 inch</span>
                        </td>
                        <td>
                            <span class="default">40 inch</span>
                        </td>
                        <td>
                            <span class="default">18.5 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">2XLarge</span>
                        </td>
                        <td>
                        <span class="default">38 inch</span>
                        </td>
                        <td>
                            <span class="default">42 inch</span>
                        </td>
                        <td>
                            <span class="default">19 inch</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #dedede;color: #000; font-weight: 400;">
                        <td>
                        <span class="default">3XLarge</span>
                        </td>
                        <td>
                        <span class="default">40 inch</span>
                        </td>
                        <td>
                            <span class="default">42 inch</span>
                        </td>
                        <td>
                            <span class="default">19.5 inch</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        <% } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #E22520;">OKAY</button>
        </div>
      </div>
    </div>
  </div>
<%- include("./footer.ejs") %>
<script>
	$("#cart-total-text").hide();
    $('#addReviewForm').on('submit', function (e) {
        e.preventDefault()
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: '/api/product/add-review',
            type:'POST',
            data: formData,
            processData: false,
            enctype: "multipart/form-data",
            cache: false,
            contentType: false
        }).done(response => {
            if(response.error){
                $("#showreview").text(response.error)
            }else{
                $("#showreview").text(response.success)
                $("#btn-btn01close").click()
                location.reload();
            }
        })
    })    
    
    document.addEventListener('DOMContentLoaded', function() {
        if (window.innerWidth <= 768) {
            document.querySelector('.page-content').classList.remove("mt-4");
        }
    });

    function checkSize(input) {
        let size = input.files[0]?.size || 0 ;
        if( size > 4194304){
          alert('File size exceeds the maximum limit of 4 MB');
          input.value = "";
        }
      }
    
</script>
</body>
</html>