<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="JVSH Technologies">
    <meta name="description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta property="og:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
    <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta name="twitter:description" content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Make Payment | Mayur Sports</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/magnific-popup/magnific-popup.css">
  <!-- Main CSS File -->
  <link rel="stylesheet" href="frontend/assets/css/style.css">
  <link rel="stylesheet" href="frontend/assets/css/plugins/nouislider/nouislider.css">
  <style>
    .btn-outline-primary-2:hover{
      background-color: #333!important;
    }
    .btn-outline-primary-2:hover span{
      color: white!important;
    }
  </style>
</head>

<body>
  <div class="page-wrapper">

    <main class="main">

      <div class="page-content">
        <div class="container">
          <article class="entry entry-list">
            <div class="row align-items-center">
              <div class="col-md-12" style="margin: 10px;">
                <center>
                  <h2 class="title title-lg mt-1">Make Payment</h2>
                  <p>After making the payment, please upload the screenshot of the payment and wait for the order confirmation by our team!</p>
                    <br><br>
                    <img src="/uploads/qr.jpg" alt="QR" style="max-height: 350px;" >
                    <br><br>
                    <h4>Total Amount To Be Paid: Rs. <span style="color:red"><%= data.amount %></span></h4>
                </center>

                <div class="row" style="border:1px solid #e7e7e7;text-align: left;align-self: self-start;padding: 1rem;align-self: stretch;margin-bottom: 1rem;">
                  <form  action="/api/order/create-order" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="user" value="<%= data.user %>">
                    <input type="hidden" name="allProduct" value="<%= data.allProduct %>">
                    <input type="hidden" name="address" value="<%= data.address %>">
                    <input type="hidden" name="notes" value="<%= data.notes %>">
                    <input type="hidden" name="transactionId" value="<%= data.transactionId %>">
                    <input type="hidden" name="coupon" value="<%= data.coupon %>">
                    <center><span id="adresponse" class="text-danger"></span></center>
                    <div class="form-group col-md-12">
                      <label for="image">Payment Screenshot *</label>
                      <input accept="image/*" type="file" class="form-control" id="image" name="image" required>
                    </div>

                    <div class="form-footer col-md-12">
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span style="color: #333;">I Made The Payment</span>
                        <i style="color: #333;" class="icon-long-arrow-right"></i>
                      </button>
                      
                      <!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
                    </div>
                    <!-- End .form-footer -->
                  </form>
                </div>
              </div><!-- End .col-md-8 -->
            </div><!-- End .row -->
          </article><!-- End .entry -->
        </div><!-- End .container -->
      </div><!-- End .page-content -->
    </main><!-- End .main -->

<script type="text/javascript"> 
      window.history.forward(); 
      function noBack() { 
          window.history.forward(); 
      } 
  </script> 
    <%- include('./footer.ejs') %>

</body>


</html>